<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>

<div>
  <label>
    <input
      type="text"
      class="form-control"
      placeholder="Type title here..."
      required
      #searchInput
      name="searchInput">
  </label>
  <button
    type="submit"
    [disabled]="loading"
    (click)="search(searchInput.value)"
    class="btn btn-default">
    Search
  </button>
</div>

<div *ngIf="loading" class="alert alert-info" role="alert">
  Searching...
</div>
<div *ngIf="!loading">
  <table class="table">
    <thead>
    <tr>
      <th>Date</th>
      <th>Title</th>
      <th>Author</th>
      <th>Link</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of currentData()">
      <td>
        {{item.date | date: 'dd-MM-yyyy hh:mm:ssZ'}}
      </td>
      <td>
        {{item.title}}
      </td>
      <td>
        {{item.author}}
      </td>
      <td>
        <a target="_blank" rel="noopener" href="{{item.sourceLink}}">Source</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="btn-group">
  <button
    class="btn btn-default"
    id="prevBtn"
    (click)="prev()"
    [disabled]="!isHasPrev()">
    Previous
  </button>
  <button
    class="btn btn-default"
    id="nextBtn"
    (click)="next()"
    [disabled]="!isHasNext()">
    Next
  </button>
  <button *ngIf="total <= 0"
    class="btn btn-default"
    [disabled]="true">
    page {{page}} from ?
  </button>
  <button *ngIf="total > 0"
          class="btn btn-default"
          [disabled]="true">
    page {{page}} from {{total}}
  </button>
</div>

<router-outlet></router-outlet>
